body{
background-image:url(a.jpg);
background-repeat:no-repeat;
background-size:100;
}
#mymenu
{
background:rgba(0,0,0,0.3);
color:white;
margin-top:2px;
text-align:right;
}

#mymenu1
{  
background:rgba(0,0,0,0.2);
width:150px;
height:300px;
color:white;
float:left;
padding:105px;
margin-left:550px;
text-align:left;
}

#mymenu ul li
{
margin-top:10px;
display:inline-block;
padding:12px;
}

table
{
background:rgba(0,0,0,0.3);
margin-top:20px;
color:white;
}

.B
{
width:100px;
height:40px;
background:linear-gradient(black,green);
color:white;

}
.B:hover
{
width:100px;
height:40px;
background:linear-gradient(to right,black,blue);
border-radius:0px 40px;
}

a:visibility{
	color:white;
}
